/// <reference path="./custom.d.ts" />
// tslint:disable

import * as url from "url";
import * as isomorphicFetch from "isomorphic-fetch";
import { Configuration } from "./configuration";





{{#models}}
{{#model}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{>modelGeneric}}{{/model}}
{{/models}}
