'use strict';

{{#operations}}
{{#operation}}
{{#contents}}

/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 *
{{#parameters}}
 * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/parameters}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
// exports.{{{operationId}}} = function({{#parameters}}{{paramName}}{{#hasMore}},{{/hasMore}}{{/parameters}}) {
export const {{{operationId}}} = function({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#hasMore}},{{/hasMore}} {{/allParams}}): 
  Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}> {
  return new Promise(function(resolve, reject) {
  {{#returnType}}
    var examples = {};
    {{#examples}}
    examples['{{contentType}}'] = {{{example}}};
    {{/examples}}
    if (Object.keys(examples).length > 0) {
      resolve(examples[Object.keys(examples)[0]]);
    } else {
      resolve({} as any);
    }
    {{/returnType}}
    {{^returnType}}
    resolve({} as any);
    {{/returnType}}
  });
}

{{/contents}}
{{/operation}}
{{/operations}}
