'use strict';
import * as models from "../models"


{{#operations}}
{{#operation}}

/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 *
{{#parameters}}
 * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/parameters}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
export const {{{operationId}}} = async function({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{#hasMore}},{{/hasMore}} {{/allParams}}): 
  Promise<
    {{#responses}}
    { code: {{code}}, payload: {{#dataType}}{{{dataType}}}{{/dataType}}{{^dataType}}{}{{/dataType}} } |
    {{/responses}}
    { code: 501, payload: {} }
   > {
    // TODO implement method
  return Promise.resolve({code: 501, payload: {} })
}

{{/operation}}
{{/operations}}
